Repository dashdoc/dashmap: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

Add latitude and longitude to stops
  backend/API_DOC.md
  backend/accounts/middleware.py
  backend/accounts/models.py
  backend/accounts/tests.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/companies/tests.py
  backend/companies/urls.py
  backend/companies/views.py
  backend/test_utils.py
  backend/trips/migrations/0002_stop_latitude_stop_longitude.py
  backend/trips/models.py
  backend/trips/tests.py
  backend/trips/urls.py
  backend/trips/views.py
  backend/vehicles/tests.py
  backend/vehicles/urls.py
  backend/vehicles/views.py
Due: none

Add map view
  CLAUDE.md
  backend/API_DOC.md
  backend/accounts/tests.py
  backend/accounts/views.py
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/maps/MapView.tsx
  frontend/src/contexts/AuthContext.tsx
  package-lock.json
Due: eslint, prettier

feat(frontend): integrate lucide-react icons into Sidebar component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier

refactor(frontend): enhance StopManagement table layout and responsiveness
  frontend/src/components/stops/StopManagement.tsx
Due: eslint, prettier

feat(backend): add positions API for vehicle telematics data
  CLAUDE.md
  backend/API_DOC.md
  backend/dashmap/settings.py
  backend/dashmap/urls.py
  backend/positions/__init__.py
  backend/positions/admin.py
  backend/positions/apps.py
  backend/positions/migrations/0001_initial.py
  backend/positions/migrations/__init__.py
  backend/positions/models.py
  backend/positions/tests.py
  backend/positions/urls.py
  backend/positions/views.py
  backend/trips/tests.py
  backend/trips/urls.py
  backend/trips/views.py
Due: none

Add reset_db.py command to reset the database with test data.
  CLAUDE.md
  backend/dashmap/apps.py
  backend/dashmap/management/__init__.py
  backend/dashmap/management/commands/__init__.py
  backend/dashmap/management/commands/reset_db.py
  backend/dashmap/settings.py
Due: none

refactor(frontend): enhance map functionality with trip visualization and improved architecture
  frontend/src/components/maps/MapControls.tsx
  frontend/src/components/maps/MapView.tsx
  frontend/src/components/stops/StopManagement.tsx
  frontend/src/hooks/useMapData.ts
  frontend/src/hooks/useMapLayers.ts
  frontend/src/types/map.ts
  frontend/src/utils/mapPopups.ts
  frontend/src/utils/mapStyles.ts
Due: eslint, prettier

feat(backend): add latest vehicle positions API endpoint and update test data
  backend/API_DOC.md
  backend/dashmap/management/commands/reset_db.py
  backend/positions/urls.py
  backend/positions/views.py
Due: none

feat(frontend): implement vehicle position tracking with live/outdated indicators
  frontend/src/assets/position-live.png
  frontend/src/assets/position-outdated.png
  frontend/src/components/maps/MapControls.tsx
  frontend/src/components/maps/MapView.tsx
  frontend/src/hooks/useMapData.ts
  frontend/src/hooks/useMapLayers.ts
  frontend/src/types/map.ts
  frontend/src/utils/mapPopups.ts
  frontend/src/utils/mapStyles.ts
Due: eslint, prettier

feat(frontend): enhance map interaction with click handler and popup management
  frontend/src/components/maps/MapView.tsx
  frontend/src/hooks/useMapLayers.ts
Due: eslint, prettier

feat(frontend): implement trip route chevron patterns with selection states
  frontend/src/assets/trip-chevron-selected.png
  frontend/src/assets/trip-chevron.png
  frontend/src/hooks/useMapLayers.ts
  frontend/src/utils/mapStyles.ts
Due: eslint, prettier

feat(backend): enhance trip stop management with reordering and order conflict resolution
  backend/API_DOC.md
  backend/trips/tests.py
  backend/trips/urls.py
  backend/trips/views.py
Due: none

feat(frontend): enhance MapView with trip details drawer and trip update handling
  frontend/src/components/maps/MapView.tsx
  frontend/src/components/trips/TripDetailsDrawer.tsx
  frontend/src/hooks/useMapLayers.ts
Due: eslint, prettier

feat(frontend): display stop type badges in trip details drawer
  frontend/src/components/trips/TripDetailsDrawer.tsx
Due: eslint, prettier

feat(backend): update reset_db.py to create 10 sample trips with detailed logistics
  backend/dashmap/management/commands/reset_db.py
Due: none

feat(frontend): integrate drag-and-drop functionality for trip stops management
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/MapView.tsx
  frontend/src/hooks/useMapLayers.ts
Due: eslint, prettier

feat(backend): add logging and improve trip stop reordering logic
  backend/trips/views.py
Due: none

refactor(frontend): decompose useMapLayers hook into focused hooks and fix authentication
  backend/API_DOC.md
  backend/trips/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/MapView.tsx
  frontend/src/components/trips/TripDetailsDrawer.tsx
  frontend/src/hooks/useMapClickHandler.ts
  frontend/src/hooks/useMapData.ts
  frontend/src/hooks/useMapPopups.ts
  frontend/src/hooks/useStopMarkers.ts
  frontend/src/hooks/useTripRoutes.ts
  frontend/src/hooks/useVehicleMarkers.ts
Due: eslint, prettier

style: apply prettier formatting to new hooks and components
  frontend/src/components/maps/MapView.tsx
  frontend/src/components/trips/TripDetailsDrawer.tsx
  frontend/src/hooks/useMapClickHandler.ts
  frontend/src/hooks/useMapPopups.ts
  frontend/src/hooks/useStopMarkers.ts
  frontend/src/hooks/useTripRoutes.ts
  frontend/src/hooks/useVehicleMarkers.ts
Due: eslint, prettier

feat(frontend): add configuration and confirm dialog components
  frontend/src/components/common/ConfirmDialog.tsx
  frontend/src/components/maps/MapControls.tsx
  frontend/src/components/maps/MapView.tsx
  frontend/src/components/maps/hooks/useMapClickHandler.ts
  frontend/src/components/maps/hooks/useMapData.ts
  frontend/src/components/maps/hooks/useMapLayers.ts
  frontend/src/components/maps/hooks/useMapPopups.ts
  frontend/src/components/maps/hooks/useStopMarkers.ts
  frontend/src/components/maps/hooks/useTripRoutes.ts
  frontend/src/components/maps/hooks/useVehicleMarkers.ts
  frontend/src/components/maps/utils/mapPopups.ts
  frontend/src/components/maps/utils/mapStyles.ts
  frontend/src/components/settings/Settings.tsx
  frontend/src/components/stops/DeleteConfirmModal.tsx
  frontend/src/components/stops/StopForm.tsx
  frontend/src/components/stops/StopManagement.tsx
  frontend/src/components/trips/DeleteConfirmModal.tsx
  frontend/src/components/trips/TripDetailsDrawer.tsx
  frontend/src/components/trips/TripForm.tsx
  frontend/src/components/trips/TripManagement.tsx
  frontend/src/components/vehicles/DeleteConfirmModal.tsx
  frontend/src/components/vehicles/VehicleForm.tsx
  frontend/src/components/vehicles/VehicleManagement.tsx
  frontend/src/config.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useMapData.ts
  frontend/src/lib/api.ts
  frontend/src/types/domain.ts
  frontend/src/types/map.ts
Due: eslint, prettier

feat: replace stops with orders system and update UI
  .claude/commands/commit.md
  backend/API_DOC.md
  backend/dashmap/management/commands/reset_db.py
  backend/dashmap/settings.py
  backend/dashmap/urls.py
  backend/orders/__init__.py
  backend/orders/admin.py
  backend/orders/apps.py
  backend/orders/migrations/0001_initial.py
  backend/orders/migrations/__init__.py
  backend/orders/models.py
  backend/orders/tests.py
  backend/orders/urls.py
  backend/orders/views.py
  backend/trips/migrations/0003_alter_tripstop_stop_delete_stop.py
  backend/trips/models.py
  backend/trips/urls.py
  backend/trips/views.py
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/maps/MapControls.tsx
  frontend/src/components/maps/MapView.tsx
  frontend/src/components/maps/hooks/useMapData.ts
  frontend/src/components/maps/hooks/useOrderMarkers.ts
  frontend/src/components/orders/OrderForm.tsx
  frontend/src/components/orders/OrderManagement.tsx
  frontend/src/components/stops/StopForm.tsx
  frontend/src/components/stops/StopManagement.tsx
  frontend/src/config.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/types/domain.ts
  frontend/src/types/map.ts
Due: eslint, prettier

fix: update reset_db.py to ensure proper deletion order for foreign key constraints
  backend/dashmap/management/commands/reset_db.py
Due: none

Show stops on trips
  frontend/src/components/maps/hooks/useOrderMarkers.ts
  frontend/src/components/maps/hooks/useTripRoutes.ts
Due: eslint, prettier

feat: orders navigation
  backend/API_DOC.md
  backend/dashmap/management/commands/reset_db.py
  backend/trips/views.py
  frontend/src/App.tsx
  frontend/src/components/orders/OrderDetailPage.tsx
  frontend/src/components/orders/OrderForm.tsx
  frontend/src/components/orders/StopForm.tsx
  frontend/src/components/trips/TripDetailPage.tsx
  frontend/src/components/trips/TripDetailsDrawer.tsx
  frontend/src/components/trips/TripForm.tsx
  frontend/src/components/trips/TripManagement.tsx
  frontend/src/types/domain.ts
Due: eslint, prettier

refac: make sure all stops are linked to an order
  backend/dashmap/management/commands/reset_db.py
  backend/orders/migrations/0002_remove_order_delivery_stop_remove_order_pickup_stop_and_more.py
  backend/orders/models.py
  backend/orders/tests.py
  backend/orders/urls.py
  backend/orders/views.py
  backend/trips/views.py
Due: none

refactor: clean up stop system and fix TypeScript errors
  backend/API_DOC.md
  backend/orders/urls.py
  backend/orders/views.py
  backend/trips/tests.py
  frontend/src/components/orders/OrderForm.tsx
  frontend/src/components/trips/TripDetailsDrawer.tsx
Due: eslint, prettier

refactor: remove redundant stops field and clean up stop types
  backend/API_DOC.md
  backend/orders/migrations/0003_update_stop_types.py
  backend/orders/models.py
  backend/orders/tests.py
  backend/orders/views.py
  backend/trips/views.py
  frontend/src/components/maps/hooks/useOrderMarkers.ts
  frontend/src/components/maps/utils/mapPopups.ts
  frontend/src/components/maps/utils/mapStyles.ts
  frontend/src/components/orders/OrderForm.tsx
  frontend/src/components/trips/TripDetailPage.tsx
  frontend/src/components/trips/TripDetailsDrawer.tsx
  frontend/src/types/domain.ts
Due: eslint, prettier

feat: update frontend to add complete orders instead of individual stops
  backend/API_DOC.md
  backend/dashmap/management/commands/reset_db.py
  backend/trips/models.py
  backend/trips/services.py
  backend/trips/tests.py
  backend/trips/urls.py
  backend/trips/views.py
  frontend/src/components/trips/TripDetailsDrawer.tsx
Due: eslint, prettier

feat: add validation for pickup before delivery in trip orders
  backend/trips/services.py
  backend/trips/tests.py
  backend/trips/views.py
  frontend/src/components/trips/TripDetailsDrawer.tsx
Due: eslint, prettier

chore: update vite.svg to a simplified design
  frontend/public/vite.svg
Due: none

Add codesandbox config
  .codesandbox/.devcontainer/devcontainer.json
  .codesandbox/tasks.json
  package-lock.json
Due: none

fix: devcontainer dir
  .devcontainer/devcontainer.json
Due: none

refac: rename order to sequence
  backend/API_DOC.md
  backend/dashmap/urls.py
  backend/dashmap/views.py
  backend/trips/admin.py
  backend/trips/migrations/0002_stop_latitude_stop_longitude.py
  backend/trips/migrations/0003_alter_tripstop_stop_delete_stop.py
  backend/trips/migrations/0004_alter_tripstop_options_and_more.py
  backend/trips/models.py
  backend/trips/services.py
  backend/trips/tests.py
  backend/trips/views.py
  frontend/src/components/maps/hooks/useMapLayers.ts
  frontend/src/components/maps/hooks/useTripRoutes.ts
  frontend/src/components/trips/TripDetailsDrawer.tsx
  frontend/src/types/domain.ts
Due: eslint, prettier

fix: codesandbox config
  .codesandbox/tasks.json
  backend/dashmap/settings.py
  frontend/vite.config.ts
Due: eslint, prettier

fix: update variable name from 'order' to 'sequence' in TripStopDetailView
  backend/trips/views.py
Due: none

fix: correct hostname on codesandbox
  .codesandbox/tasks.json
Due: none

cleanup tsconfig
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: prettier

refac: better reordering code
  backend/trips/services.py
  backend/trips/views.py
  frontend/src/components/trips/TripDetailsDrawer.tsx
Due: eslint, prettier

refac
  backend/API_DOC.md
  backend/trips/services.py
  backend/vehicles/migrations/0002_vehicle_deleted_at.py
  backend/vehicles/models.py
  backend/vehicles/tests.py
  backend/vehicles/views.py
Due: none

Fix layout scrolling for management pages
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/.*\.(js|ts|jsx|tsx)$
  prettier: any of: ^frontend/.*\.(js|ts|jsx|tsx|json|css|md)$
